@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cor-primaria: #2563eb;
    --cor-fundo: #ffffff;
    --cor-texto: #333333;
    --cor-card: #f8fafc;

    --fonte-principal: 'Poppins', sans-serif;

    --h1: 2rem;
    --h2: 1.5rem;
    --texto: 1rem;
}

@media screen {
    
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
}
